.login-form {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 250;
    margin: -125px 0 0 -250px;

    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}